# This workflow will install Deno then run Deno fmt and test.
# For more information see: https://github.com/denoland/setup-deno

name: Deno Deploy & Test

on:
  push:
    branches: ["main", "test"]
  pull_request:
    branches: ["main", "test"]

permissions:
  id-token: write # This is required to allow the GitHub Action to authenticate with Deno Deploy.
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DENO_ENV: testing
      BASE_URL: http://localhost:8000
      DENO_DIR: deno_dir
      APP_KEY: password-at-least-32-characters-long
    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.35.2

      - name: Verify formatting
        run: deno fmt --check

      - name: Cache Deno dependencies
        uses: actions/cache@v3
        with:
          key: denoDeps-${{ hashFiles('deno.lock') }}
          path: ${{ env.DENO_DIR }}

      - name: Run tests
        run: deno test -A --quiet
